---
title: Nos expertises
---

<h1> <%= data.expertises.explanation.explanation%> </h1> 
  <p>  
    <ul> 
      <li> <%= data.expertises.explanation.presse%> </li>
      <li> <%= data.expertises.explanation.medias%> </li>
      <li> <%= data.expertises.explanation.reseau%> </li>
      <li> <%= data.expertises.explanation.data%> </li>
      <li> <%= data.expertises.explanation.personal_branding%> </li>
  </p>

<h1> <%= data.expertises.companies.companies%> </h1> 
  <p>  
    <ul> 
      <li> <%= data.expertises.companies.environnement%> </li>
      <li> <%= data.expertises.companies.family%> </li>
      <li> <%= data.expertises.companies.girl%> </li>
      <li> <%= data.expertises.companies.humain%> </li>
      <li> <%= data.expertises.companies.lifestyle%> </li>
  </p>