---
title: Les références
---

<h1> <%= data.references.reference.name[0] %> </h1>
  <p> <%= data.references.reference.contexte_petitbuilding%> </p>
  <p> <%= data.references.reference.accompagnement_petitbuilding[0]%> </p>
  <p> <%= data.references.reference.accompagnement_petitbuilding[1]%> </p>
  <p> <%= data.references.reference.accompagnement_petitbuilding[2]%> </p>

<h1> <%= data.references.reference.name[1] %> </h1>
  <p> <%= data.references.reference.contexte_fabrique%> </p>
  <p> <%= data.references.reference.accompagnement_fabrique[0]%> </p>  
  <p> <%= data.references.reference.accompagnement_fabrique[1]%> </p>
  <p> <%= data.references.reference.accompagnement_fabrique[2]%> </p>

<h1> <%= data.references.reference.name[2] %> </h1>
  <p> <%= data.references.reference.contexte_bio%> </p>
  <p> <%= data.references.reference.accompagnement_bio[0]%> </p>  
  <p> <%= data.references.reference.accompagnement_bio[1]%> </p>
  <p> <%= data.references.reference.accompagnement_bio[2]%> </p>
  <p> <%= data.references.reference.accompagnement_bio[3]%> </p>

<h1> <%= data.references.reference.name[3] %> </h1>
  <p> <%= data.references.reference.contexte_medecin%> </p>
  <p> <%= data.references.reference.accompagnement_medecin[0]%> </p>  
  <p> <%= data.references.reference.accompagnement_medecin[1]%> </p>
  <p> <%= data.references.reference.accompagnement_medecin[2]%> </p>
  <p> <%= data.references.reference.accompagnement_medecin[3]%> </p>
  <p> <%= data.references.reference.accompagnement_medecin[4]%> </p>
