---
title: Make My Day Relation Presse
---

<section class="firstlogo">
    <%= image_tag 'logommd.jpg', :id=> "big-logo"%>
<%# <div id="logo-letter">
    <span class="a">A</span>
    <span class="b"> B</span>
    <span>C</span>
</div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​

    %>
</section>

<section class="catchphrase">
<div class="container">
    <div id="msg1">
    </div>
    <div id="msg2">
    </div>
    <div id="msg3">
    Allez ! Go ahead… Make My Day ! 
    </div>   
  </div>
  </div>
</section>

<section id="prequelle">
<div class="container">
<h6> L'agence </h6>
  <div class="flex">
  <div class="col-md-4">
    <%= image_tag "/images/sdore.jpg", :id=> "sdore" %>
  </div>
  <div class="col-md-8">
    <p class="bio"> <%= data.prequelle.presentation.biographie %> </p>
  </div>
    </div>
  </div>
</section>

<section id="manifeste">
<div class="container">
<p class="manifeste_title"> <%= data.manifeste.mani.mani_title %> <p>
<p class= "questions">  <img src='images/flag.png' alt='flag' style="width: 30px; height: 30px"> <%= data.manifeste.mani.mani_questions[0] %> </p>
<p class= "answers"> <%= data.manifeste.mani.mani_answers[0] %> </p>
<p class= "questions"> <img src='images/flag.png' alt='flag' style="width: 30px; height: 30px"> <%= data.manifeste.mani.mani_questions[1] %> </p>
<p class= "answers">   <%= data.manifeste.mani.mani_answers[1] %> </p>
<p class= "questions"> <img src='images/flag.png' alt='flag' style="width: 30px; height: 30px"> <%= data.manifeste.mani.mani_questions[2] %> </p>
<p class= "answers">   <%= data.manifeste.mani.mani_answers[2] %> </p>
<p class= "questions"><img src='images/flag.png' alt='flag' style="width: 30px; height: 30px">  <%= data.manifeste.mani.mani_questions[3] %> </p>
<p class= "answers">  <%= data.manifeste.mani.mani_answers[3] %> </p>
<p class= "questions"><img src='images/flag.png' alt='flag' style="width: 30px; height: 30px">  <%= data.manifeste.mani.mani_questions[4] %> </p>
<p class= "answers">  <%= data.manifeste.mani.mani_answers[4] %> </p>
<p class= "questions">   <%= data.manifeste.mani.mani_questions[5] %> </p>
<p class= "answers">  <%= data.manifeste.mani.mani_answers[5] %> </p>
</div>
</section>


<section class="expertises">
  <div class="container">
  <h6> Expertises</h6>
    <div class="row">
      <div class="animated-words">
          <span>L'environnement</span>
          <span>L'écologie</span>
          <span>L'univers du Bio</span>
          <%# <span>Les projets</span> %>
          <%# <span>Les initiatives</span> %>
          <span>L'éducation</span>
          <span>L'univers famille-enfant</span>
          <span>La dynamique au féminin</span>
          <span>La solidarité</span>
          <span>L'humanitaire</span>
          <span>L'économie collaborative</span>
          <span>Le tourisme</span>
          <span>La gastronomie </span>    
          <span>Les tendances lifestyle</span>
          <span>Le luxe</span>
        </div>    
      </div>  
    </div>
  </div>  
</section>

<section id="references">

<div class="container">
<h6> Références </h6>
  <div class="flex">
    <div class="col-lg-3">
      <div id="grow">
        <a href="#label"> <img src="/images/logolabel.png" style="height: 60px" alt="Meilleurs produits bio" class="img-responsive center-block" /> </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="grow">
        <a href="#building"> <img src="/images/Ptit_Building.png" alt="Ptit Building" class="img-responsive center-block" /> </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="grow">
        <a href="#medecin"> <img src="/images/riremedecin.jpg" style="height: 50px" alt="Rire Medecin" class="img-responsive center-block" /></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="grow">
        <a href="#fabrique"> <img src="/images/fabriqueeffets.png" alt="la fabrique d'effets" class="img-responsive center-block" /></a>
      </div>
    </div>
    <%# <div class="col-lg-3">
      <div id="grow">
        <a href="#land"> <img src="/images/land.jpg" alt="land territoires" class="img-responsive center-block" /></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="grow">
        <a href="#noir"> <img src="/images/danslenoir.jpg" alt="Dans le noir" class="img-responsive center-block" /></a>
      </div>
    </div> %>
  </div>
</section>

<section class=references>
<div class="container">
  <div class="flex" style="margin-bottom:20px">
    <div class="col-lg-4 ">
      <img src="/images/Ptit_Building.png" alt="image" class="img-responsive center-block" />
    </div>
    <div class="col-xs-12 col-lg-8 ">
      <div id="building">
        <h1> <%= data.references.reference.name[0] %> </h1>
        <h3> <%= data.references.reference.context %> </h3>
          <p> <%= data.references.reference.contexte_petitbuilding %> </p>
          <br>
          <br>
        <h3> <%= data.references.reference.accompagnement %> </h3>
          <p> <%= data.references.reference.accompagnement_petitbuilding[0]%> 
          <br>  <%= data.references.reference.accompagnement_petitbuilding[1]%>
          <br> <%= data.references.reference.accompagnement_petitbuilding[2]%>
          <br> <%= data.references.reference.accompagnement_petitbuilding[3]%>
          <br> <%= data.references.reference.accompagnement_petitbuilding[4]%></p>
      </div>
    </div>  
  </div> 
  <div class="flex-reverse" style="margin-bottom:20px">
    <div class="col-xs-12 col-lg-8">
      <div id="fabrique">
        <h1> <%= data.references.reference.name[1] %> </h1>
        <h3> <%= data.references.reference.context %> </h3>
          <p> <%= data.references.reference.contexte_fabrique%> </p>
          <br>
          <br>
        <h3> <%= data.references.reference.accompagnement %> </h3>
          <p> <%= data.references.reference.accompagnement_fabrique[0] %> 
            <br> <%= data.references.reference.accompagnement_fabrique[1] %>
            <br> <%= data.references.reference.accompagnement_fabrique[2] %> 
            <br> <%= data.references.reference.accompagnement_fabrique[3] %> 
            <br> <%= data.references.reference.accompagnement_fabrique[4] %> </p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="/images/fabriqueeffets.png" alt="image" class="img-responsive center-block" />
    </div>
  </div> 
  <div class="flex" style="margin-bottom:20px">
    <div class="col-lg-4">
      <img src="/images/logolabel.png" alt="Label Bio" style="height: 200px" class="img-responsive center-block" />
    </div>
    <div class="col-xs-12 col-lg-8">
      <div id="label">
        <h1> <%= data.references.reference.name[2] %> </h1>
        <h3> <%= data.references.reference.context %> </h3>
          <p> <%= data.references.reference.contexte_bio %> </p>
          <br>
          <br>
        <h3> <%= data.references.reference.accompagnement %> </h3>
        <p> 
        <%= data.references.reference.accompagnement_bio[0] %> 
        <br>
        <%= data.references.reference.accompagnement_bio[1] %>  
        <br>
        <%= data.references.reference.accompagnement_bio[2] %> 
        <br>
        <%= data.references.reference.accompagnement_bio[3] %>  
        <br>
        <%= data.references.reference.accompagnement_bio[4] %> 
        </p>
      </div>
    </div>
  </div> 
  <div class="flex-reverse" style="margin-bottom:20px">
    <div class="col-xs-12 col-lg-8">
      <div id="medecin">
        <h1> <%= data.references.reference.name[3] %> </h1>
        <h3> <%= data.references.reference.context %> </h3>
          <p> <%= data.references.reference.contexte_medecin %> </p>
          <br>
          <br>
        <h3> <%= data.references.reference.accompagnement %> </h3>
          <p> <%= data.references.reference.accompagnement_medecin[0] %> 
          <br> <%= data.references.reference.accompagnement_medecin[1]%>           
          <br> <%= data.references.reference.accompagnement_medecin[2]%>  
          <br> <%= data.references.reference.accompagnement_medecin[3]%>
          <br> <%= data.references.reference.accompagnement_medecin[4]%> </p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="/images/riremedecin.jpg" alt="Le Rire Medecin" class="img-responsive center-block" />
    </div> 
  </div>
</div>
</section>


<section id="contact">
 <h4> Contactez nous </h4>
 <div class="row">
 <form action="mailto:stephanie@make-myday.fr" method="post" enctype="application/x-www-form-urlencoded" name="formulaire">  
  Votre nom:<br>
  <input type="text" name="nom"><br>
  Votre E-mail:<br>
  <input type="text" name="mail"><br>
  Dites nous tout:<br>
  <input type="text" id="contact_form" name="message"><br><br>
  <input type="submit" value="Send" id="send-button">
</form>
</div>
    </container>
</section>
