---
title: Make My Day agence presse
---

<section class="presentation">
  <h2> <%= data.agence.presentation.one %> </h2>
  <p>  <%= data.agence.presentation.second %> </p>
  <%= link_to "En savoir plus", "/pages/expertise.html", class: "button" %>
</section>

<section class="service">
    <div class="mmd-logo">
      <%= image_tag 'logommd.png' %>
    </div>
    <div class="explanation">
      <h1>Stratégie Media</h1>
        <p> <%= data.agence.service.strategie %> </p>
      <h1>Rédaction de contenu</h1>
        <p> <%= data.agence.service.contenu %> </p>
      <h1>Réseaux sociaux</h1>  
        <p> <%= data.agence.service.reseaux %> </p>
      <h1>Media Training</h1>  
        <p> <%= data.agence.service.media %> </p>
      <h1>Evenementiel</h1>
        <p> <%= data.agence.service.event %> </p>
        
  </div>
</section>
